body {
  /* OBS Custom CSS overrides this with transparency, which is what we want */
  /* background black just helps to see it in a browser */
  background-color: black;
  overflow: hidden;
}

#container {
  --outerGlowInset: calc(var(--glowSize) * 2);
  position: absolute;
  inset: 0px;
  border-radius: var(--borderRadius);
  border: calc(var(--borderWidth) - 1px) solid transparent;
  overflow: hidden;
}

#container::after {
  content: '';
  position: absolute;
  inset: 0px;
  background-color: white;
}

#container.glow-edge-outer,
#container.glow-edge-both {
  inset: var(--outerGlowInset);
}
