# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# private widgets
/widgets-private

# slime2 keys
slime2key_*.js

# apple
.DS_Store

# environmental variable secrets
*.env.*local

# debug logs
*.log*