/*********************
 * slime2 containers *
 *********************/

/* Container for the chat message list from slime2 */
#slime2-event-list {
  --fontSize: 24px;
  --color: white;
  --fontWeight: 900;
  --font: Avenir;
  --edgeColor: rgb(0, 0, 0, 1);
  --edgeColorLowOpacity: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
  font-family:
    var(--font),
    /* Same fonts as Nico Nico */ Avenir,
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Hiragino Kaku Gothic ProN',
    Meiryo,
    メイリオ,
    sans-serif;
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  color: var(--color);
}

/* Message container */
.message {
  position: absolute;
  visibility: hidden;
  display: inline-block;
}

.text-color-user-light .message {
  color: var(--userColorLight);
}

.text-color-user-dark .message {
  color: var(--userColorDark);
}

.text-color-user .message {
  color: var(--userColor);
}

.message.animate {
  visibility: visible;
  animation: scroll var(--duration) linear forwards;
}

/***************
 * User Styles *
 ***************/

/* Container for all user details (name, badges, pronouns) */
.user {
}

:is(.hide-user, .emote-only) .user {
  display: none;
}

/* Display name of the user */
.name {
}

/* Badges container */
.badges {
  display: inline-block;
}

.hide-badges .badges {
  display: none;
}

/* Badge style */
.badge {
  height: 1.25em;
  margin-right: 5px;
  display: inline-block;
  margin-top: -2px;
}

/* Pronoun styles */
.pronouns {
  display: inline-block;
  margin-left: 4px;
}

.pronouns-lowercase .pronouns {
  text-transform: lowercase;
}

.pronouns-uppercase .pronouns {
  text-transform: uppercase;
}

.pronouns::before {
  content: '(';
}

.pronouns::after {
  content: ')';
}

.pronouns:empty {
  display: none;
}

/**************************
 * Message Content Styles *
 **************************/

/* Content container */
.content {
}

.text {
}

.emote-only .text {
  display: none;
}

.emote {
  height: 1.75em;
  max-height: 112px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  margin-bottom: -0.2em;
}

.cheer-amount {
}

.emote-only .cheer-amount {
  display: none;
}

/********************
 * Text Edge Styles *
 ********************/

.edge-bottom-shadow-1 .message {
  text-shadow: 0 1px var(--edgeColor);
}

.edge-bottom-shadow-2 .message {
  text-shadow: 0 2px var(--edgeColor);
}

.edge-bottom-right-shadow-1 .message {
  text-shadow: 1px 1px var(--edgeColor);
}

.edge-bottom-right-shadow-2 .message {
  text-shadow: 2px 2px var(--edgeColor);
}

/* Smooth 1px text outline */
.edge-outline-1 .message {
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--edgeColor),
    /* 1px offset bottom       */ 0 1px var(--edgeColor),
    /* 1px offset left         */ -1px 0 var(--edgeColor),
    /* 1px offset right        */ 1px 0 var(--edgeColor),
    /* 1px offset top left     */ -1px -1px var(--edgeColorLowOpacity),
    /* 1px offset top right    */ 1px -1px var(--edgeColorLowOpacity),
    /* 1px offset bottom left  */ -1px 1px var(--edgeColorLowOpacity),
    /* 1px offset bottom right */ 1px 1px var(--edgeColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--edgeColor);
}

/* Smooth 2px text outline */
.edge-outline-2 .message {
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--edgeColor),
    /* 1px offset bottom       */ 0 1px var(--edgeColor),
    /* 1px offset left         */ -1px 0 var(--edgeColor),
    /* 1px offset right        */ 1px 0 var(--edgeColor),
    /* 2px offset top          */ 0 -2px var(--edgeColor),
    /* 2px offset bottom       */ 0 2px var(--edgeColor),
    /* 2px offset left         */ -2px 0 var(--edgeColor),
    /* 2px offset right        */ 2px 0 var(--edgeColor),
    /* 1px offset top left     */ -1px -1px var(--edgeColor),
    /* 1px offset top right    */ 1px -1px var(--edgeColor),
    /* 1px offset bottom left  */ -1px 1px var(--edgeColor),
    /* 1px offset bottom right */ 1px 1px var(--edgeColor),
    /* 2px offset top left     */ -2px -2px var(--edgeColorLowOpacity),
    /* 2px offset top right    */ 2px -2px var(--edgeColorLowOpacity),
    /* 2px offset bottom left  */ -2px 2px var(--edgeColorLowOpacity),
    /* 2px offset bottom right */ 2px 2px var(--edgeColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--edgeColor),
    /* 2px blur                */ 0 0 2px var(--edgeColor);
}

/**************
 * Animations *
 **************/

@keyframes scroll {
  from {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
