/*********************
 * slime2 containers *
 *********************/

/* Container for the slime2 system */
#slime2-root {
  position: absolute;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* Container for the chat message list from slime2 */
#slime2-chat-list {
  position: absolute;
  overflow: hidden;
  gap: 10px;
  font-family:
    Avenir,
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Hiragino Kaku Gothic ProN,
    Meiryo,
    メイリオ,
    sans-serif;
  line-height: 30px;
  font-size: 24px;
  font-weight: 900;
  color: white;
  width: 100%;
  height: 100%;
}

/* Container for each chat message from slime2 */
#slime2-chat-message {
}

/* Message container */
.message {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  color: var(--userColor);
}

.message.animate {
  visibility: visible;
  animation: scroll var(--duration) linear forwards;
}

/***************
 * User Styles *
 ***************/

/* Container for all user details (name, badges, pronouns) */
.user {
}

/* Display name of the user */
.name {
}

/* Badges container */
.badges {
  display: inline-block;
}

/* Badge style */
.badge {
  height: 1.25em;
  margin-right: 5px;
  display: inline-block;
  margin-top: -2px;
}

/* Pronoun styles */
.pronouns {
  text-transform: lowercase;
  display: inline-block;
  margin-left: 4px;
}

.pronouns::before {
  content: '(';
}

.pronouns::after {
  content: ')';
}

.pronouns:empty {
  display: none;
}

/**************************
 * Message Content Styles *
 **************************/

/* Content container */
.content {
}

.text {
}

.emote,
.cheer {
  height: 1.75em;
  max-height: 112px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  margin-bottom: -0.2em;
}

.cheer-amount {
}

/******************************************************
 * Chat list axis (vertical/horizontal) and alignment *
 ******************************************************/

/* Apply these classes to main in the HTML */

.vertical-top-left #slime2-chat-list {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-start;
}

.vertical-top-right #slime2-chat-list {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-end;
}

.vertical-bottom-left #slime2-chat-list {
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.vertical-bottom-right #slime2-chat-list {
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.horizontal-top-left #slime2-chat-list {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-start;
}

.horizontal-top-right #slime2-chat-list {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

.horizontal-bottom-left #slime2-chat-list {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-end;
}

.horizontal-bottom-right #slime2-chat-list {
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

/****************
 * Extra Styles *
 ****************/

.hide {
  display: none;
}

/* Smooth 1px text outline */
.text-outline-1 {
  --outlineColor: rgb(0, 0, 0, 1);
  --outlineColorLowOpacity: rgba(0, 0, 0, 0.2);
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--outlineColor),
    /* 1px offset bottom       */ 0 1px var(--outlineColor),
    /* 1px offset left         */ -1px 0 var(--outlineColor),
    /* 1px offset right        */ 1px 0 var(--outlineColor),
    /* 1px offset top left     */ -1px -1px var(--outlineColorLowOpacity),
    /* 1px offset top right    */ 1px -1px var(--outlineColorLowOpacity),
    /* 1px offset bottom left  */ -1px 1px var(--outlineColorLowOpacity),
    /* 1px offset bottom right */ 1px 1px var(--outlineColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--outlineColor);
}

/* Smooth 2px text outline */
.text-outline-2 {
  --outlineColor: rgb(0, 0, 0, 1);
  --outlineColorLowOpacity: rgba(0, 0, 0, 0.2);
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--outlineColor),
    /* 1px offset bottom       */ 0 1px var(--outlineColor),
    /* 1px offset left         */ -1px 0 var(--outlineColor),
    /* 1px offset right        */ 1px 0 var(--outlineColor),
    /* 2px offset top          */ 0 -2px var(--outlineColor),
    /* 2px offset bottom       */ 0 2px var(--outlineColor),
    /* 2px offset left         */ -2px 0 var(--outlineColor),
    /* 2px offset right        */ 2px 0 var(--outlineColor),
    /* 1px offset top left     */ -1px -1px var(--outlineColor),
    /* 1px offset top right    */ 1px -1px var(--outlineColor),
    /* 1px offset bottom left  */ -1px 1px var(--outlineColor),
    /* 1px offset bottom right */ 1px 1px var(--outlineColor),
    /* 2px offset top left     */ -2px -2px var(--outlineColorLowOpacity),
    /* 2px offset top right    */ 2px -2px var(--outlineColorLowOpacity),
    /* 2px offset bottom left  */ -2px 2px var(--outlineColorLowOpacity),
    /* 2px offset bottom right */ 2px 2px var(--outlineColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--outlineColor),
    /* 2px blur                */ 0 0 2px var(--outlineColor);
}

/**************
 * Animations *
 **************/

@keyframes scroll {
  from {
    left: var(--start);
  }
  to {
    left: var(--end);
  }
}
