/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*********************
 * slime2 containers *
 *********************/

/* Container for the slime2 system */
#slime2-root {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

body {
  overflow: hidden;
}

#dvd-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
}

#dvd {
  opacity: var(--opacity);
  position: absolute;
}

#image,
#video,
#text {
  display: none;
}

.media-image #image,
.media-video #video,
.media-text #text {
  display: block;
  transform-origin: top left;
}

#image {
  content: var(--image);
  transform: scale(var(--imageScale));
}

#video {
  transform: scale(var(--videoScale));
}

#text {
  white-space: break-spaces;
}
