/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Global Styles */
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

/*********************
 * slime2 containers *
 *********************/

/* Container for the slime2 system */
#slime2-root {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

/* Container for the chat message list from slime2 */
#slime2-chat-list {
  display: flex;
  flex-direction: column;
  align-content: start;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 800;
  color: white;
  padding: 20px;
}

/* Container for each chat message from slime2 */
#slime2-chat-message {
  margin-top: 0.2rem;
}

/* Message container */
.message {
  display: inline-block;
}

/**************************
 * Message Content Styles *
 **************************/

/* Content container */
.content {
  align-items: center;
}

.text {
}

.emote,
.cheer {
  height: 1.75rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25rem;
  margin-bottom: -0.2rem;
}

.cheer-amount {
}

/***************
 * User Styles *
 ***************/

/* Container for all user details (name, badges, pronouns) */
.user {
}

/* Display name of the user */
.name {
}

/* Added when the user's name color is dark */
.name-dark {
  --outlineColor: rgb(255, 255, 255) !important;
  --outlineColorLowOpacity: rgba(255, 255, 255, 0.25) !important;
}

/* Added when the user's name color is light */
.name-light {
}

/* Badges container */
.badges {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

/* Badge style */
.badge {
  height: 1.125rem;
  margin-right: 0.2rem;
  display: inline-block;
  margin-top: -0.25rem;
  margin-bottom: -0.2rem;
}

/* Pronoun styles */
.pronouns {
  text-transform: lowercase;
}

.pronouns::before {
  content: ' (';
}

.pronouns::after {
  content: ')';
}

.pronouns:empty {
  display: none;
}

/****************
 * Extra Styles *
 ****************/

/* Smooth 1px text outline */
.text-outline-1 {
  --outlineColor: rgb(0, 0, 0);
  --outlineColorLowOpacity: rgba(0, 0, 0, 0.25);
  text-shadow:
    /* 1px offset top          */ 0 -1px var(--outlineColor),
    /* 1px offset bottom       */ 0 1px var(--outlineColor),
    /* 1px offset left         */ -1px 0 var(--outlineColor),
    /* 1px offset right        */ 1px 0 var(--outlineColor),
    /* 1px offset top left     */ -1px -1px var(--outlineColorLowOpacity),
    /* 1px offset top right    */ 1px -1px var(--outlineColorLowOpacity),
    /* 1px offset bottom left  */ -1px 1px var(--outlineColorLowOpacity),
    /* 1px offset bottom right */ 1px 1px var(--outlineColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--outlineColor);
}

/* Smooth 2px text outline */
.text-outline-2 {
  --outlineColor: rgb(0, 0, 0);
  --outlineColorLowOpacity: rgba(0, 0, 0, 0.25);
  text-shadow:
    /* 1px offset top          */ 0 -1px var(--outlineColor),
    /* 1px offset bottom       */ 0 1px var(--outlineColor),
    /* 1px offset left         */ -1px 0 var(--outlineColor),
    /* 1px offset right        */ 1px 0 var(--outlineColor),
    /* 2px offset top          */ 0 -2px var(--outlineColor),
    /* 2px offset bottom       */ 0 2px var(--outlineColor),
    /* 2px offset left         */ -2px 0 var(--outlineColor),
    /* 2px offset right        */ 2px 0 var(--outlineColor),
    /* 1px offset top left     */ -1px -1px var(--outlineColor),
    /* 1px offset top right    */ 1px -1px var(--outlineColor),
    /* 1px offset bottom left  */ -1px 1px var(--outlineColor),
    /* 1px offset bottom right */ 1px 1px var(--outlineColor),
    /* 2px offset top left     */ -2px -2px var(--outlineColorLowOpacity),
    /* 2px offset top right    */ 2px -2px var(--outlineColorLowOpacity),
    /* 2px offset bottom left  */ -2px 2px var(--outlineColorLowOpacity),
    /* 2px offset bottom right */ 2px 2px var(--outlineColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--outlineColor),
    /* 2px blur                */ 0 0 2px var(--outlineColor);
}
