/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*********************
 * slime2 containers *
 *********************/

/* Container for the renderable events from slime2 */
#slime2-event-list {
  --fontName: Nunito;
  --fontSize: 16px;
  --fontWeight: 800;
  --badgeSize: 24px;
  font-family: var(--fontName), Nunito, Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  position: absolute;
  line-height: var(--lineHeight);
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* Container for each renderable event from slime2 */
.slime2-event {
  flex-shrink: 0;
}

/* Message container */
.message {
  display: inline-block;
  padding: var(--padding);
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);
  border-width: var(--borderWidth);
  border-radius: var(--borderRadius);
  border-style: var(--borderStyle);
}

[class^='vertical-'].full-width .slime2-event {
  width: 100%;
}

[class^='vertical-'].full-width .message {
  display: block;
}

[class^='horizontal-'] .message {
  max-width: var(--maxWidth);
}

.display-under :is(.content, .user) {
  display: block;
}

/***************
 * User Styles *
 ***************/
/* Container for all user details (name, badges, pronouns) */
.user {
  padding-right: 0.33em;
  color: var(--usernameColor);
}

.display-under .user {
  padding-right: 0;
}

.username-color-user-light .user {
  color: var(--userColorLight);
}

.username-color-user-dark .user {
  color: var(--userColorDark);
}

.username-color-user .user {
  color: var(--userColor);
}

.display-colon .user::after {
  content: ':';
}

/* Badges container */
.badges {
  display: inline-block;
}

.hide-badges .badges {
  display: none;
}

/* Badge style */
.badge {
  height: var(--badgeSize);
  margin-right: 5px;
  display: inline-block;
  margin-top: -2px;
}

/* Pronoun styles */
.pronouns {
  display: inline-block;
  margin-left: 4px;
}

.pronouns-lowercase .pronouns {
  text-transform: lowercase;
}

.pronouns-uppercase .pronouns {
  text-transform: uppercase;
}

.pronouns-hidden .pronouns {
  display: none;
}

.pronouns::before {
  content: '(';
}

.pronouns::after {
  content: ')';
}

.pronouns:empty {
  display: none;
}

/**************************
 * Message Content Styles *
 **************************/

/* Content container */
.content {
  overflow-wrap: anywhere;
}

.text {
  color: var(--textColor);
}

.emote {
  height: 1.75em;
  max-height: 112px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  margin-bottom: -0.2em;
}

/***********************
 * Dynamic Emote Sizes *
 ***********************/

.dynamic-emote-sizes .emote-2 .emote {
  height: var(--emoteMedium);
}

.dynamic-emote-sizes .emote-4 .emote {
  display: block;
  margin: 5px;
  height: var(--emoteLarge);
}

/*******************************************************
 * Event list axis (vertical/horizontal) and alignment *
 *******************************************************/

/* Apply these classes to main in the HTML */

#slime2-event-list.vertical-top-left {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-start;
}

#slime2-event-list.vertical-top-right {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-end;
}

#slime2-event-list.vertical-bottom-left {
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

#slime2-event-list.vertical-bottom-right {
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

#slime2-event-list.horizontal-top-left {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-start;
}

#slime2-event-list.horizontal-top-right {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

#slime2-event-list.horizontal-bottom-left {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-end;
}

#slime2-event-list.horizontal-bottom-right {
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

/********************
 * Text Edge Styles *
 ********************/

.text-edge-bottom-shadow-1 .message {
  text-shadow: 0 1px var(--edgeColor);
}

.text-edge-bottom-shadow-2 .message {
  text-shadow: 0 2px var(--edgeColor);
}

.text-edge-bottom-right-shadow-1 .message {
  text-shadow: 1px 1px var(--edgeColor);
}

.text-edge-bottom-right-shadow-2 .message {
  text-shadow: 2px 2px var(--edgeColor);
}

/* Smooth 1px text outline */
.text-edge-outline-1 .message {
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--edgeColor),
    /* 1px offset bottom       */ 0 1px var(--edgeColor),
    /* 1px offset left         */ -1px 0 var(--edgeColor),
    /* 1px offset right        */ 1px 0 var(--edgeColor),
    /* 1px offset top left     */ -1px -1px var(--edgeColorLowOpacity),
    /* 1px offset top right    */ 1px -1px var(--edgeColorLowOpacity),
    /* 1px offset bottom left  */ -1px 1px var(--edgeColorLowOpacity),
    /* 1px offset bottom right */ 1px 1px var(--edgeColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--edgeColor);
}

/* Smooth 2px text outline */
.text-edge-outline-2 .message {
  text-shadow:
    /* 1px offset top          */
    0 -1px var(--edgeColor),
    /* 1px offset bottom       */ 0 1px var(--edgeColor),
    /* 1px offset left         */ -1px 0 var(--edgeColor),
    /* 1px offset right        */ 1px 0 var(--edgeColor),
    /* 2px offset top          */ 0 -2px var(--edgeColor),
    /* 2px offset bottom       */ 0 2px var(--edgeColor),
    /* 2px offset left         */ -2px 0 var(--edgeColor),
    /* 2px offset right        */ 2px 0 var(--edgeColor),
    /* 1px offset top left     */ -1px -1px var(--edgeColor),
    /* 1px offset top right    */ 1px -1px var(--edgeColor),
    /* 1px offset bottom left  */ -1px 1px var(--edgeColor),
    /* 1px offset bottom right */ 1px 1px var(--edgeColor),
    /* 2px offset top left     */ -2px -2px var(--edgeColorLowOpacity),
    /* 2px offset top right    */ 2px -2px var(--edgeColorLowOpacity),
    /* 2px offset bottom left  */ -2px 2px var(--edgeColorLowOpacity),
    /* 2px offset bottom right */ 2px 2px var(--edgeColorLowOpacity),
    /* 1px blur                */ 0 0 1px var(--edgeColor),
    /* 2px blur                */ 0 0 2px var(--edgeColor);
}

/**************
 * Animations *
 **************/

.animation-enter-fade.message {
  animation: fade-in 0.5s;
}

.animation-enter-fade-left.message {
  animation:
    fade-in 0.5s,
    move-in-left 0.5s;
}

.animation-enter-fade-right.message {
  animation:
    fade-in 0.5s,
    move-in-right 0.5s;
}

.animation-exit-fade.message {
  animation: fade-out 0.5s;
}

.animation-exit-fade-left.message {
  animation:
    fade-out 0.5s,
    move-out-left 0.5s;
}

.animation-exit-fade-right.message {
  animation:
    fade-out 0.5s,
    move-out-right 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes move-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes move-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
