@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

.btn-shadow-i {
  box-shadow:
    inset 0 calc(-1 * theme(spacing[0.5])) theme(colors.black / 25%),
    inset 0 theme(spacing.px) 0 theme(spacing.px) theme(colors.white / 25%);

  position: relative;
}

.btn-shadow-i:active {
  box-shadow: none;
}

.btn-shadow-i::after,
.title-shadow-i::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: theme(colors.white / 10%);
}

.btn-shadow-i:active::after {
  display: none;
}

.title-shadow-i {
  box-shadow: inset 0 theme(spacing.1) 0 theme(spacing.1)
    theme(colors.white / 25%);

  position: relative;
}

.title-shadow-i::before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow:
    inset 0 calc(-1 * theme(spacing.px)) theme(colors.black / 25%),
    inset 0 theme(spacing.px) 0 theme(spacing.px) theme(colors.white / 25%);
}

.slime2-window-shadow {
  box-shadow: theme(spacing.1) theme(spacing.1) theme(colors.black / 25%);
}

.slime2-group-shadow {
  box-shadow: theme(spacing[0.5]) theme(spacing[0.5]) theme(colors.black / 25%);
}

.slime2-tag-shadow {
  box-shadow: 2px 2px theme(colors.black / 25%);
}

.slime2-window-enter {
  animation: slime2-window-enter 0.3s forwards;
}

.slime2-window-exit {
  animation: slime2-window-exit 0.3s forwards;
}

.slime2-alpha-background {
  background-color: white;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><rect x="8" width="8" height="8"/><rect y="8" width="8" height="8"/></svg>');
}

@keyframes slime2-window-enter {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slime2-window-exit {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.1);
    display: none;
  }
}

.slime2-banner-fade {
  animation: slime2-banner-fade 0.3s 3s forwards;
}

@keyframes slime2-banner-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
