/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*********************
 * slime2 containers *
 *********************/

/* Container for the slime2 system */
#slime2-root {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

/* Container for the renderable events from slime2 */
#slime2-event-list {
  display: flex;
  overflow: hidden;
  gap: 10px;
  position: absolute;
  font-family: Nunito, Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* Container for each renderable event from slime2 */
.slime2-event {
  flex-shrink: 0;
}

/* Message container */
.message {
  display: inline-block;
}

/***************
 * User Styles *
 ***************/

/* Container for all user details (name, badges, pronouns) */
.user {
  padding: 5px;
  border-radius: 6px;
  color: var(--userColor);
}

.user::after {
  content: ':';
}

/* Display name of the user */
.name {
}

/* Badges container */
.badges {
  display: inline-block;
}

/* Badge style */
.badge {
  height: 24px;
  margin-right: 5px;
  display: inline-block;
  margin-top: -2px;
}

/* Pronoun styles */
.pronouns {
  text-transform: lowercase;
  display: inline-block;
  margin-left: 4px;
}

.pronouns::before {
  content: '(';
}

.pronouns::after {
  content: ')';
}

.pronouns:empty {
  display: none;
}

/**************************
 * Message Content Styles *
 **************************/

/* Content container */
.content {
  overflow-wrap: anywhere;
}

.text {
}

.emote,
.cheer {
  height: 1.75em;
  max-height: 112px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  margin-bottom: -0.2em;
}

.cheer-amount {
}

/***********************
 * Dynamic Emote Sizes *
 ***********************/

.dynamic-emote-sizes .emote-2 .emote {
  height: 3.5em;
}

.dynamic-emote-sizes .emote-4 .emote {
  height: 112px;
}

/******************************************************
 * Chat list axis (vertical/horizontal) and alignment *
 ******************************************************/

/* Apply these classes to main in the HTML */

.vertical-top-left #slime2-event-list {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-start;
}

.vertical-top-right #slime2-event-list {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-end;
}

.vertical-bottom-left #slime2-event-list {
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.vertical-bottom-right #slime2-event-list {
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.horizontal-top-left #slime2-event-list {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-start;
}

.horizontal-top-right #slime2-event-list {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

.horizontal-bottom-left #slime2-event-list {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-end;
}

.horizontal-bottom-right #slime2-event-list {
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

/****************
 * Extra Styles *
 ****************/

.fade {
  animation: fade 1s forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
